.banner{

    background-size: 1600px 800px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken,luminosity;
    width: 1400px;
    height: 500px;
    opacity:0.9;
    text-align: center;
    color: white;
}